.title{
font-family: 'Courier New', Courier, monospace;
font-size: 40px;
color: red;
text-align: center;
}

a {
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
display: inline-block;
padding: 10px;
margin: 10px;
border: 2px solid blue;
background-color: antiquewhite;
}

a:hover{
background-color: aqua;
}

img {
height: auto;
width: 200px;
}

.img{
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
border-radius: 10%;
}

.desc{
font-family: 'Courier New', Courier, monospace;
color: salmon;
}

.ing,
.steps{
text-decoration: underline;
}

#ing{
list-style-type: square
}